<!DOCTYPE html>
<html>
<head>
    <title>Upload &amp; Download | Dynamic Web TWAIN SDK | Dynamsoft</title>
    <meta http-equiv="description" content="The sample demonstrates how to scan or download documents or import local images in browsers with Dynamic Web TWAIN, and then upload them in various ways." />
    <script src="Resources/dynamsoft.webtwain.config.js"></script>
    <script src="Resources/dynamsoft.webtwain.initiate.js"></script>
	<script src="Resources/addon/dynamsoft.webtwain.addon.pdf.js"></script>
    <link rel="stylesheet" href="Style/ds.demo.css">
</head>
<body class="ds-demo-main">
    <div class="ds-demo-head">
        <span onclick="this.parentElement.style.display='none'" class="ds-demo-closebtn ds-demo-margin-right" style="margin-top: -50px">^</span>
        <div class="ds-demo-container">
            <div class="ds-demo-row content-top">
                <div class="ds-demo-left">
                    <div class="ds-demo-left">
                        <img src="Style/Images/icon-DWT.png" alt="Logo">
                    </div>
                    <div class="ds-demo-left ds-demo-margin-left">
                        <div>
                            <a target="_blank" class="bluelink ds-font-size-14" href="http://www.dynamsoft.com">Dynamsoft</a><span> / </span>
                            <a target="_blank" class="bluelink ds-demo-font-size-14" href="http://www.dynamsoft.com/Products/WebTWAIN_Overview.aspx">Dynamic Web TWAIN</a><span> / </span>
                            <a target="_blank" class="bluelink ds-demo-font-size-14" href="http://www.dynamsoft.com/Downloads/WebTWAIN-Sample-Download.aspx">code gallery</a><span> / </span>
                        </div>
                        <h1>Scan Documents &plus; Upload &amp; Download</h1>
                    </div>
                </div>
                <div class="ds-demo-right content-rt"><a target="_blank" href="http://www.dynamsoft.com/Downloads/WebTWAIN_Download.aspx" class="ds-demo-orange ds-demo-btn-large">Download SDK</a> </div>
            </div>
            <div class="ds-demo-row content-btm ds-demo-padding-top-large">
                The demo demonstrates how to scan or download documents or import local images in browsers with Dynamic Web TWAIN, and then upload them in various ways.
            </div>
        </div>
    </div>

    <div class="ds-demo-container ds-demo-padding-top-large ds-demo-center">
        <div id="divLeft" class="ds-demo-left ds-demo-inline-block ds-demo-border-light-grey" style="width: 508px; height: 650px;">
            <!-- dwtcontrolContainer is the default div id for Dynamic Web TWAIN control.
             If you need to rename the id, you should also change the id in the dynamsoft.webtwain.config.js accordingly. -->
            <div id="dwtcontrolContainer"></div>
        </div>
        <div class="ds-demo-left ds-demo-bright-grey ds-demo-inline-block ds-demo-padding-large ds-demo-center ds-demo-border-light-grey" style="width: 470px; height: 650px;">
			<input type="button" value="Scan" onclick="AcquireImage();" class="ds-demo-btn ds-demo-width-92 ds-demo-margin-left-large" />
            <input type="button" value="Open a local file" onclick="LoadImages();" class="ds-demo-btn ds-demo-width-168 ds-demo-margin-left-large" />
            <div>
                <label class="ds-demo-lbl">Script Language :</label>
                <select size="1" id="ddlLanguages" class="ds-demo-select ds-demo-width-168" onchange="languageSelected();"></select>
            </div>
			<div id='ddlLanguages-div' style="display:none;z-index:100; position:absolute; width:400px;" class="ds-demo-block ds-demo-box-shadow ds-demo-radius-small ds-demo-margin-bottom ds-demo-teal">
				Make Sure Your WebServer Supports <span id="currentLANGUAGE" style="color:#fe8e14; font-weight:bold; font-size:large;">CSharp</span>
			</div>
			<div id="extra-fields-div-id">
				<label class="ds-demo-lbl">Extra Fields : </label>
				<div type="text" class="ds-demo-btn ds-demo-width-168" 
					onclick="addAField()"
					style="border:1px dashed #ddd;color:#ddd;font-size:40px; text-align:center; cursor:pointer;">&plus;</div>
			</div>
			<div class="ds-demo-margin" id="div-extra-fields" style="display:none; max-height:140px;">
				<div class="div-fields-item ds-demo-margin-bottom">
					<input type="text" class="ds-demo-txt ds-demo-margin-zero" style="width: 127px;" placeholder="Field Name" /> : 
					<input type="text" class="ds-demo-txt ds-demo-width-168 ds-demo-margin-zero" style="margin-left:10px!important;" placeholder="Field Value" />
				</div>
			</div>
            <div class="ds-demo-margin">
				<input type="radio" value="jpg" name="ImageType" class="ds-demo-radio" checked="checked" />
				<label style="position:relative;top:6px;">JPEG</label>
				<input type="radio" value="tif" name="ImageType" class="ds-demo-radio ds-demo-margin-left" />
				<label style="position:relative;top:6px;">TIFF</label>
				<input type="radio" value="pdf" name="ImageType" class="ds-demo-radio ds-demo-margin-left" />
				<label style="position:relative;top:6px;">PDF</label><br />	<br />
				<input type="checkbox" value="quiet" class="ds-demo-check" id="quietScan" /><label style="position:relative;top:6px;">Quiet</label>
				<span id='quietTip' class="ds-demo-cursor-help ds-demo-badge ds-demo-green ds-demo-teal">?</span> 
				<input type="checkbox" value="directly" class="ds-demo-check" id="uploadDirectly" /><label style="position:relative;top:6px;">Direct</label>
				<span id='directTip' class="ds-demo-cursor-help ds-demo-badge ds-demo-green ds-demo-teal">?</span><br />
				<div id='quietTip-div' style='display:none; z-index:100; position:absolute; width:300px;' class="ds-demo-box-shadow ds-demo-light-grey ds-demo-radius-small">Upload without showing progress bar.</div>
				<div id='directTip-div' style='display:none; z-index:100; position:absolute; width:300px;' class="ds-demo-box-shadow ds-demo-light-grey ds-demo-radius-small">Upload any file without loading it.</div>
				<input type="button" value="Upload" onclick="UploadImage();" class="ds-demo-blue ds-demo-btn-large ds-demo-border-0 ds-demo-margin" />			
			</div>			
			<hr>
			<div class="ds-demo-block ds-demo-container" style="text-align:left;">Uploaded Files</div>
			<div style="border:solid 1px #ddd; background-color:#fff;min-height:80px; max-height:100px; overflow-y:scroll;">
				<table id='div-uploadedFile' class="ds-demo-table ds-demo-block"></table>
			</div>
        </div>
    </div>
    <div class="ds-demo-footer ds-demo-margin-top-large">
        <span onclick="this.parentElement.style.display='none'" class="ds-demo-closebtn ds-demo-margin-right" style="margin-top: -10px">&times;</span>
        <div class="ds-demo-container">
            <div class="ds-demo-row content-top">
                <div class="ds-demo-left ds-demo-40PCT ds-demo-clearfix">
                    <strong>Features Demonstrated</strong>
                    <ul class="ds-demo-ul">
                        <li>Scan documents &amp; load local Images</li>
						<li>Rasterize and load local PDF files</li>
						<li><strong>Upload images to the server</strong></li>
                    </ul>
                </div>
                <div class="ds-demo-right ds-demo-40PCT ds-demo-clearfix">
                    <strong>License Required</strong>
                    <ul class="ds-demo-ul">
                        <li>Core SDK licenses (Windows)</li>
                        <li>Core SDK licenses for Mac <i>(if needed)</i></li>
                        <li>Add-on License for PDF Rasterizer <i>(if needed)</i></li>                        
                        <li><a class="bluelink ds-demo-font-size-14" href="mailto:sales@dynamsoft.com"><i>Contact Dynamsoft Sales</i></a></li>
                        <li><a target="_blank" class="bluelink ds-demo-font-size-14" href="https://www.dynamsoft.com/Secure/WebTWAIN_BuyIt.aspx"><i>More info</i></a></li>
                    </ul>
                </div>
                <div class="ds-demo-left ds-demo-block ds-demo-padding-top">
                    <hr />
                    <p>
                        Copyright &copy;
						<script>document.write((new Date()).getFullYear());</script>
                        <strong>Dynamsoft Team</strong>  &vert; 
						support [at] dynamsoft.com &vert; 1-604-605-5491 &vert; Vancouver, BC, Canada
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="Scripts/script.js"></script>
</body>
</html>
